 /*the css document*/
	ul{
		margin: 0;
		padding: 0;
	}
	#button{
		float: left;
		height: 100%;
		width:125px;
		background:#f4ca41;
	}
	#heading{
		color:white;
		background-color: black;
		height: 50px;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
	}
	button{
		width: 100%;
	}
	body{
		background:#f4414c;
		margin: 0;
		font-family: 'Spectral SC', serif;
	}
	#main{
		
		padding:250px 0;
		height: 100%;
		text-align: center;
	}
	.btn-outline-info{
		color: red;
	}